<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
</head>

<body>
  <div id="app">
  	<el-card class="box-card-input">
  	  <div slot="header" class="clearfix">
	  	<el-select v-model="select" placeholder="Choose Problem" @change="changeSel">
	      <el-option v-for="item in questions" :label="item.label" :value="item.value"></el-option>
	    </el-select>
	    <el-button type="success" icon="el-icon-s-promotion" @click="getRes" circle></el-button>
	  </div>
	  <div>
	    <el-input class="input-with-select" autosize v-model="input" :placeholder="holder"></el-input>
	  </div>
    </el-card>
    <transition name="el-fade-in-linear">
	  <el-card v-if='showRes' class="box-card-output">
	  	<h v-model='result'>{{ res_str }}</h>
	    <div></div>
	  </el-card>
    </transition>
  </div>
</body>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return {
      	input: '',
      	select: '',
      	showRes: false,
        questions: [{value: '1', label: 'Q1. Frog'},
                    {value: '2', label: 'Q2. Queen'},
                    {value: '3', label: 'Q3. Train'},
                    {value: '4', label: 'Q4. Bag'},
                    {value: '5', label: 'Q5. Chess'}],
        holder: '',
        result: ''
      }
    },
    methods: {
      changeSel(value) {
      	this.showRes = false;
      	this.select = value;
      	switch (this.select) {
      	  case '1': this.holder = 'Please input an integer.'; break;
      	  case '2': this.holder = 'Please input an array.'; break;
      	  case '3': this.holder = 'Please input a bitstring.'; break;
      	  case '4': this.holder = 'Please input some integers.'; break;
      	  case '5': this.holder = 'Please input three characters.'; break;
      	  default: break;
      	}
      },
      alg1() {
        this.$message.error('Invalid input!');

      },
      alg2() {

      },
      alg3() {

      },
      alg4() {

      },
      alg5() {

      },
      getRes() {
        this.showRes = true;
        switch (this.select) {
      	  case '1': this.alg1(); break;
      	  case '2': this.alg2(); break;
      	  case '3': this.alg3(); break;
      	  case '4': this.alg4(); break;
      	  case '5': this.alg5(); break;
      	  default: break;
      	}
      }
    }
  })
</script>


<style>


#app {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 30%;
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.el-card {
  width: 100%;
}
.el-select {
  width: 85%;
  margin-right: 5%;
}
.box-card-output {
  margin-top: 5px;
  background:rgb(225, 243, 216);
}

</style>
</html>

